import { defineConfig } from "drizzle-kit";

export default defineConfig({
  out: "{{ default "./drizzle/migrations" .Config.Data.Drizzle.MigrationsDir }}",
  schema: "{{ default "./app/lib/db/schema.ts" .Config.Data.Drizzle.SchemaPath }}",
  dialect: "{{ default "sqlite" .Config.Data.Drizzle.Driver }}",
  // driver: "d1-http",
  // dbCredentials: {
  //   accountId: process.env.CLOUDFLARE_ACCOUNT_ID!,
  //   databaseId: process.env.CLOUDFLARE_D1_DATABASE_ID!,
  //   token: process.env.CLOUDFLARE_API_TOKEN!,
  // },
});
