import type { Config } from "@react-router/dev/config";

export default {
  ssr: {{ if eq .Website.Rendering "spa" }}false{{ else }}true{{ end }},
  future: {
  {{- if .Website.Future }}
  {{- range $key, $value := .Website.Future }}
    {{ $key }}: {{ $value }},
  {{- end }}
  {{- end }}
  },
} satisfies Config;
