import { reactRouter } from "@react-router/dev/vite";
import tailwindcss from "@tailwindcss/vite";
import babel from "vite-plugin-babel";
import { defineConfig } from "vite";
{{- if .Website }}{{- if eq .Website.Deployment "cloudflare" }}
import { cloudflare } from "@cloudflare/vite-plugin";
{{- end }}{{- end }}

export default defineConfig({
  plugins: [
{{- if .Website }}{{- if eq .Website.Deployment "cloudflare" }}
    cloudflare({ viteEnvironment: { name: "ssr" } }),
{{- end }}{{- end }}
    tailwindcss(),
    babel({
      filter: /\.[jt]sx?$/,
      babelConfig: {
        plugins: ["babel-plugin-react-compiler"],
      },
    }),
    reactRouter(),
  ],
});
