import { defineConfig } from "vite";
import { reactRouter } from "@react-router/dev/vite";
import tailwindcss from "@tailwindcss/vite";
import devtoolsJson from "vite-plugin-devtools-json";
import { reactCompiler } from "./react-compiler.plugin";
{{- if eq .Website.Deployment "cloudflare" }}
import { cloudflare } from "@cloudflare/vite-plugin";
{{- end }}

export default defineConfig({
  plugins: [
{{- if eq .Website.Deployment "cloudflare" }}
    cloudflare({ viteEnvironment: { name: "ssr" } }),
{{- end }}
    tailwindcss(),
    reactCompiler(),
    reactRouter(),
    devtoolsJson(),
  ],
  css: {
    transformer: "lightningcss",
  },
});
