{
    "recommendations": [
{{- if eq .Kind "website" }}
        "biomejs.biome",
        "bradlc.vscode-tailwindcss",
        "christian-kohler.npm-intellisense",
{{- end }}
{{- if eq .Kind "tui" }}
        "golang.go",
{{- end }}
{{- if eq .Kind "ios" }}
        "vknabel.vscode-apple-swift-format",
        "sswg.swift-lang",
{{- end }}
        "hverlin.mise-vscode",
        "planet57.vscode-beads",
{{- if eq .Kind "website" }}
        "prettier.prettier-vscode",
        "tamasfe.even-better-toml",
{{- end }}
        "wayou.vscode-todo-highlight"
    ]
}
