{
  "editor.formatOnSave": true,
  "editor.defaultFormatter": null,
{{- if eq .Kind "website" }}
  "[typescript]": {
    "editor.defaultFormatter": "esbenp.prettier-vscode"
  },
  "[typescriptreact]": {
    "editor.defaultFormatter": "esbenp.prettier-vscode"
  },
  "[javascript]": {
    "editor.defaultFormatter": "esbenp.prettier-vscode"
  },
  "[json]": {
    "editor.defaultFormatter": "esbenp.prettier-vscode"
  },
  "typescript.preferences.importModuleSpecifier": "relative",
  "typescript.suggest.autoImports": true,
{{- end }}
{{- if eq .Kind "tui" }}
  "[go]": {
    "editor.defaultFormatter": "golang.go"
  },
  "go.useLanguageServer": true,
  "go.lintTool": "golangci-lint",
  "go.lintOnSave": "package",
  "gopls": {
    "ui.semanticTokens": true
  },
{{- end }}
{{- if eq .Kind "ios" }}
  "[swift]": {
    "editor.defaultFormatter": "vknabel.vscode-apple-swift-format"
  },
  "swift.path": "/usr/bin/swift",
{{- end }}
  "files.exclude": {
    "**/.git": true,
    "**/.DS_Store": true,
    "**/node_modules": true
  }
}
