:root {
    /* TODO: Align these colors with the ruby-red workbench theme */
    --vp-c-brand: #fc1900;
    --vp-button-brand-border: #fc1900;
    --vp-c-brand-light: #747bff;
    --vp-c-brand-dark: #f02601;
    --vp-button-brand-hover-border: #f02601;

    /* TODO: There are still several branding things across the site which are blue that should be red */

    @media (prefers-color-scheme: light) {
        --vp-code-block-bg: #f8fafcb4;
    }

    --vp-home-hero-image-background-image: linear-gradient(-45deg, #fc1900 50%, #f02601 50%);
    --vp-home-hero-image-filter: blur(60px);

    /* TODO: "Inter Var" */
    --vp-font-family-base:
        Inter, -apple-system, BlinkMacSystemFont, "avenir next", avenir, "segoe ui",
        "helvetica neue", helvetica, Cantarell, Ubuntu, roboto, arial, sans-serif; /* normal text font */
    --vp-font-family-mono:
        "JetBrains Mono", ui-monospace, SFMono-Regular, "Andale Mono", "Ubuntu Mono", Menlo,
        Consolas, Monaco, "Liberation Mono", "Lucida Console", monospace; /* code font */
}

/* FIXME: This isn't showing: */
.vp-doc pre.shiki {
    border-width: 1px;
    border-color: rgb(226 232 240);
}

@media (prefers-color-scheme: dark) {
    .vp-doc pre.shiki {
        border-color: rgb(9 9 11);
    }
}
